<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Tornado Chat Channels</title>
    <link href="/static/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div id="channels">
      <div class="container">
        <div class="row">
          <form method="post" action="/join">
            <fieldset>
              <div class="control-group">
                <label class="control-label">Channels</label>
                {% for channel in channels %}
                <div class="controls">
                  <label class="radio">
                    <input type="radio" name="channel" value="{{ channel }}">{{ channel }}
                  </label>
                </div>
                {% end %}
                <input type="hidden" name="next" value="{{ request.path }}"/>
                {% module xsrf_form_html() %}
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
